<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Password</title>
    <link rel="stylesheet" href="./../css/style.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="screen">
                <div class="screen-header">
                    <div class="screen-header-left">
                        <div class="screen-header-button close"></div>
                        <div class="screen-header-button maximize"></div>
                        <div class="screen-header-button minimize"></div>
                    </div>
                    <div class="screen-header-right">
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                    </div>
                </div>
                <div class="screen-body">
                    <div class="screen-body-item left">
                        <div class="app-title">
                            <span>PASSWORD</span>
                            <span>GENERATOR</span>
                        </div>
                        <div class="app-contact">CONTACT INFO : obazuaye55@gmail.com </div>
                    </div>
                    <div class="screen-body-item">
                        <form action="/" method="post" class="app-form">
                        <div class="app-form">
                                <input class="app-form-control"  type="number" name="passwordLength" id="" placeholder="Password Length">
                            </div>
                            <div class="app-form-group">
                                <input class="app-form-control" type="number" name="uppercaseLength" id="" placeholder="Amount of Uppercase">
                            </div>
                            <div class="app-form-group">
                                <input type="number" class="app-form-control" name="lowercaseLength" id="" placeholder="Amount of Lowercase">
                            </div>
                            <div class="app-form-group message">
                                <input type="number" class="app-form-control" name="symbolsLength" id="" placeholder="Amount of Symbols">
                            </div>
                             <div class="app-form-group message">
                                 <input type="number" class="app-form-control" name="numberLength" id="" placeholder="Amount of Numbers">
                            </div>

                            <div class="app-form-group buttons">
                                <button class="app-form-button">SEND</button>
                            </div>
                        
                        </form>
                    </div>
                </div>
            </div>
            <div class="credits">
                <a class="credits-link" href="https://netibahost.com" target="_blank">      
                   Elliot Bazuaye
                </a>
            </div>
        </div>
    </div>
</body>
</html>